html{
    font-family: 'Times New Roman', Times, serif;
    color: rgba(20, 37, 94, 0.753);
}

p{
    font-size: 1.3rem
}

h1{
    font-size: 3.1rem
}

h2{
    font-size: 2rem;

}
h4{
    font-size: 1.25rem;
}

body{
    background-color: rgb(223, 250, 236);
    margin:0;
}

.ListStyle {
    color:#d85b8bf1
}

.LifeStyle {
    font-weight: 900;
}

#header {
    background-image: url("https://png.pngtree.com/png-clipart/20220313/original/pngtree-spring-cherry-blossom-branch-petal-season-png-image_7429551.png");
    background-size: 60%;
    background-position: -30%;
    height: 9.2rem;
    border-radius: 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5%;

}

.navbar {
    background-color:rgb(252, 229, 233);
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 5em;
}

.nav-links li a {
    text-decoration: none;
    color:rgb(214, 89, 131);
    font-size: 1.7rem;
    transition: 0.3s;
    padding: 0.5em 1.0em;
    border-radius: 0.5em;
}

.nav-links li a:hover {
    background-color:rgb(238, 255, 238)
}

.title {
    text-align: center;
    padding: 1em;
}

.current {
    text-decoration: underline dotted rgb(252, 179, 207).3em;
}

.accordion-header {
    width: 100%;
    background-color: rgb(252, 229, 233);
    border: none;
    padding: 1em 1em 1em 3em;
    text-align: left;
    font-size: 1.1rem;
    color: rgb(37, 67, 133);
    cursor: pointer;
    transition: 0.8s;
}

.accordion-content {
    display: none;
}

.accordion-header:hover {
    background-color:rgb(228, 253, 239);
}

.blog-entry {
    display: flex;
    align-items: center;
    gap: 2em;
    padding-right: 2%;
    margin-bottom: 2em;
}

.hidden {
    display: none;
}

.blog-entry img {
    width: 50%;
    border-radius: 0 1.5em 1.5em 0;
}

#enter-password {
    text-align: center;
}

#enter-password input {
    font-size: 1.5rem;
    border-radius: 0.5em;
    border: 0;
    padding: 0.2em;
    width: 40%;
    background-color:rgb(248, 222, 226)
}

#enter-password button {
    font-size: 1.3em;
    padding: 0.3em;
    border-radius: 0.5em;
    width: 7%;
    border: 0;
    background-color:rgb(212, 137, 150)
}

#password-field {
    display: flex;
    justify-content: center;
    gap: 1em;
}